@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@500;700&display=swap");
body {
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* or any color you prefer */
}

::-webkit-scrollbar-thumb {
  background-color: #61372b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #824a3a;
}
.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}
.marquee-content > span {
  padding-left: 20rem; /* Add a left padding of 6rem to each span inside marquee-content */
}
/* Define the animation for the marquee */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
